{% extends "core/base.html" %}
{% load static %}

{% block head %}{% endblock %}

{% block title %}Lugares{% endblock %}

{% block content %}

    <div class="filtros">

    <h1>Todos los lugares para brunchear</h1>
    <h2>Filtrá para encontrar tu lugar:</h2>
    <ul>
        <li>Por barrio</li>
        <li>Por precio</li>
        <li>Opciones veganas o sin TACC</li>
    </ul>

    </div>

    <div class="container">
        <div class="row">

            <div class="col-2 m-1">
                <p>Lugar 1</p>
            </div>
            <div class="col-2 m-1">
                <p>Lugar 2</p>
            </div>
            <div class="col-2 m-1">
                <p>Lugar 3</p>
            </div>
            <div class="col-2 m-1">
                <p>Lugar 4</p>
            </div>
            <div class="col-2 m-1">
                <p>Lugar 5</p>
            </div>
            <div class="col-2 m-1">
                <p>Lugar 6</p>
            </div>

        </div>
    </div>



{% endblock %}